{% extends 'base.html' %}

{% block content %}

<h1>Add a form that when submitted creates a new playlist!</h1>

<form class=form-control-sm method='POST'>

    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}

    {{ field.label }} {{ field(class_="form-control") }}

    {% for error in field.errors %} {{ error }}

    {% endfor %}

    {% endfor %}
    <br>
    <div>
        <button class="btn btn-primary">Add Playlist</button>
    </div>


    {% endblock %}